table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}

.tableMargin {
	margin-bottom: 50px;
}

#aboutUs tr:nth-child(even) {
  background-color: #eee;
}
#aboutUs tr:nth-child(odd) {
 background-color: #fff;
}
#aboutUs th {
  background-color: black;
  color: white;
}

.citationImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}