input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.gap {
	margin-top: 11px;
}

.flexbox {
    display: flex;
}

#left {
    flex-grow: 0.5;
}

.value {
	text-align: right;
}

.valuation {
	text-align: left;
}

table, th, td {
	border: 1px solid black;
}

th {
	padding-left: 25px;
}