button {
  background-color: #3574af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#message{
  height: 150px;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button:hover {
  opacity: 0.8;
}

input[type=text],
input[type=email],
#message
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}