body {
	margin: auto;
    background-color: #c9f5fa;
}
header {
	height: 200px;
	background-color: #333;
	background-image: url('../pictures/header.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.about {
	float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.current {
  background-color: #111;
}

.nav>ul>ul {
    transition: all 1s ease-in-out;
	transition-delay: 50ms;
}

#indirect-current {
  background-color: #111;
}

#products li ul {
	display:none;
	position:absolute;
}

#products li li {
	float:none;
}

#products li:hover ul {
	display: block;
}

@media screen and (max-width: 550px) {
	header {
		background-repeat: no-repeat;
	}
}

.nav li li {
	float: none;
}

.nav li ul {
    position:absolute;
    left:50;
    top:246px;
    z-index:1;
    max-height:0;
    -webkit-transform:perspective(350) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:100px;
    -webkit-transform:perspective(350) rotate3d(0,0,0,0);
}