body {
	margin: auto;
    background-color: #c9f5fa;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}


body::-webkit-scrollbar-thumb {
	background: purple;  /* TODO, change the color */
}

header {
	height: 200px;
	background-color: #333;
	background-image: url('../pictures/header.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.about {
	float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.current {
  background-color: #111;
}

#indirect-current {
  background-color: #111;
}

#products li ul {
	display:none;
	position:absolute;
}

#products li li {
	float:none;
}

#products li:hover ul {
	display: block;
}

@media screen and (max-width: 550px) {
	header {
		background-repeat: no-repeat;
	}
}