table, tr, td, th {
	text-align: center;
}

table {
  border-spacing: 100px 0;
}

th {
	width: 250px;
}

.row-border td {
	padding-bottom: 70px;
}

.vitaminsContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	padding-bottom: 100px;
}
.multi {
	height:200px;
	width:170px;
}

.image{
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
}

.add_cart{
	position: absolute;
	width: 100%;
	background-color: darkgrey;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	cursor: pointer;
	text-align: center;
}

.image:hover .cart{
	bottom: 100px;
	opacity: 1;
	padding: 10px;
	text-decoration: none;
}